<h2 class="page-header">Search Books</h2>

<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= searchOptions.title %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label for="publishAfter">Publish After</label>
            <input type="date" name="publishAfter" value="<%= searchOptions.publishAfter %>">
        </div>
        <div class="form-item">
            <label for="publishBefore">Publish Before</label>
            <input type="date" name="publishBefore" value="<%= searchOptions.publishBefore %>">
        </div>
    </div>
    <div class="form-row form-row-end">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div>
    <%- include('../partials/book-grid.ejs', { books: books, large: true}) %>
</div>